// html reset code 

.btn {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.btn-1 {
    background: black;
    color: white;
    border: solid 2px black;
    transition: all .5s;
    &:hover {
        border: solid 2px black;
        background: white;
        color: black;
    }
}

.btn-2 {
    background: #7aa5bf;
    color: white;
    border: solid 2px #7aa5bf;
    transition: all .5s;
    &:hover {
        border: solid 2px #7aa5bf;
        background: white;
        color: #7aa5bf;
    }
}

.btn-3 {
    background: #6093BF;
    color: white;
    border: solid 2px #7aa5bf;
    transition: all .5s;
    &:hover {
        border: solid 2px #6093BF;
        background: white;
        color: #6093BF;
    }
}