.pad {
  padding: 25px; }

.custom-row {
  max-width: 1200px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive; }

body p, body span, body ul {
  font-family: 'Roboto', sans-serif; }

@keyframes draw-down-arrow {
  from {
    stroke-dashoffset: 334; }
  to {
    stroke-dashoffset: 0; } }

path.draw-arrow {
  stroke-dashoffset: -334;
  stroke-dasharray: 334;
  animation-name: draw-down-arrow;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes draw-down-circle {
  from {
    stroke-dashoffset: 122; }
  to {
    stroke-dashoffset: 0; } }

circle.draw-circle {
  stroke-dashoffset: -122;
  stroke-dasharray: 122;
  animation: draw-down-circle .75s 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes draw-down-rect {
  from {
    stroke-dashoffset: 829; }
  to {
    stroke-dashoffset: 0; } }

rect.draw-rect {
  stroke-dashoffset: -829;
  stroke-dasharray: 829;
  animation-name: draw-down-rect;
  animation-delay: 2s;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes hover-up-down {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-45px); }
  100% {
    transform: translatey(0px); } }

.arrow-conatiner {
  transform: translatey(0px);
  animation: hover-up-down 3s 4s ease-in-out infinite; }

@keyframes rotate {
  from {
    transform: rotate(-360deg); }
  to {
    transform: rotate(360deg); } }

#circle {
  animation-timing-function: linear;
  transform-origin: center;
  animation: rotate 120s infinite; }

.btn {
  text-decoration: none;
  font-family: 'Raleway', sans-serif; }

.btn-1 {
  background: black;
  color: white;
  border: solid 2px black;
  transition: all .5s; }
  .btn-1:hover, .btn-1:active, .btn-1:focus {
    border: solid 2px black;
    background: white;
    color: black; }

.btn-2 {
  background: #7aa5bf;
  color: white;
  border: solid 2px #7aa5bf;
  transition: all .5s; }
  .btn-2:hover, .btn-2:active, .btn-2:focus, .btn-2:focus-visible {
    border: solid 2px #7aa5bf;
    background: white;
    color: #7aa5bf; }

.btn-3 {
  background: #6093BF;
  color: white;
  border: solid 2px #7aa5bf;
  transition: all .5s; }
  .btn-3:hover, .btn-3:active, .btn-3:focus, .btn-3:focus-visible {
    border: solid 2px #6093BF;
    background: white;
    color: #6093BF; }

.btn-4 {
  background: #72CEF2;
  color: white;
  border: solid 2px #72CEF2;
  transition: all .5s; }
  .btn-4:hover, .btn-4:active, .btn-4:focus, .btn-4:focus-visible {
    border: solid 2px #72CEF2;
    background: white;
    color: #72CEF2; }

footer {
  min-height: 100vh;
  background-color: black;
  color: white; }
  footer .col-md-12 {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    footer .col-md-12 h4 {
      text-align: center; }
    footer .col-md-12 ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      min-width: 500px; }
      @media (max-width: 600px) {
        footer .col-md-12 ul {
          min-width: unset;
          flex-direction: column;
          align-items: center; } }
      footer .col-md-12 ul li {
        transition: all .5s; }
        footer .col-md-12 ul li:after {
          content: '|';
          margin-left: 10px;
          margin-right: 10px; }
          @media (max-width: 600px) {
            footer .col-md-12 ul li:after {
              content: ''; } }
        footer .col-md-12 ul li:last-child:after {
          content: none; }
        footer .col-md-12 ul li:hover {
          color: #72CEF2;
          cursor: pointer; }
    footer .col-md-12 i:hover {
      transition: all .5s;
      color: #72CEF2;
      cursor: pointer; }
  footer .social {
    display: flex;
    justify-content: space-evenly; }
  footer img, footer svg {
    max-width: 150px;
    margin: 0 auto;
    display: block; }

nav {
  z-index: 9999;
  padding: 0 !important;
  position: fixed !important;
  top: -100%;
  width: 100vw;
  transition: all .5s;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive; }
  nav .navbar-brand {
    display: flex;
    align-items: center; }
  nav img {
    padding: 5px; }
  nav ul li {
    display: flex;
    align-items: center;
    transition: all .5s; }
    nav ul li:after {
      content: '|';
      margin-left: 10px;
      margin-right: 10px; }
    nav ul li:last-child:after {
      content: none; }
    nav ul li:hover {
      color: #72CEF2;
      cursor: pointer; }

.fixed {
  top: 0% !important; }

h1 {
  color: black; }

.banner-full {
  min-height: 100vh; }

.scroll-banner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1; }
  .scroll-banner .banner-logo {
    min-width: 250px; }
    @media (max-width: 600px) {
      .scroll-banner .banner-logo {
        min-width: 200px; } }
  @media (max-width: 600px) {
    .scroll-banner .row {
      position: relative; } }
  .scroll-banner #down-arrow {
    max-width: 50px;
    position: absolute;
    bottom: 25px;
    left: 48%; }
    @media (max-width: 600px) {
      .scroll-banner #down-arrow {
        left: 43%;
        bottom: -100px;
        max-width: 35px; } }

.scroll-content {
  position: absolute;
  z-index: 99;
  width: 100vw; }

.banner-overlay {
  height: 100vh;
  width: 100%;
  background: linear-gradient(270deg, #6093BF, #72CEF2, #7aa5bf, #CEE8F2, #f2f2f2);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

.banner-home {
  background: url("../../assets/images/bg-mtns.png");
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 600px) {
    .banner-home {
      background-attachment: unset; } }

.section-one {
  background: black;
  padding: 75px 25px 25px 25px;
  color: white;
  margin-top: 100vh;
  min-height: 100vh;
  z-index: 99; }
  .section-one h1 {
    color: white; }
  .section-one .buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .section-one .buttons .btn {
      min-width: 250px; }
    @media (max-width: 600px) {
      .section-one .buttons {
        flex-direction: column;
        min-height: 150px; } }
  .section-one .headshot {
    position: relative; }
    .section-one .headshot .border {
      width: 90%;
      height: 100%;
      position: absolute;
      border: 2px solid white !important;
      top: -30px;
      right: -10px;
      z-index: 10; }
      @media (max-width: 600px) {
        .section-one .headshot .border {
          display: none; } }
    .section-one .headshot img {
      display: block;
      margin: 0 auto;
      width: 100%; }

.section-two {
  background-color: #f2f2f2;
  min-height: 100vh;
  z-index: 99;
  position: relative;
  overflow: hidden; }
  .section-two .bg-svg {
    position: absolute;
    width: 65%;
    top: 0;
    right: -10%;
    opacity: 0.15; }
    @media (max-width: 600px) {
      .section-two .bg-svg {
        width: 165%;
        top: 25%;
        right: 5%; } }

.section-three {
  padding-left: 0;
  margin-left: 0;
  z-index: 99; }
  .section-three .col-md-8 {
    background: white;
    padding-left: 50px; }
    @media (max-width: 600px) {
      .section-three .col-md-8 {
        padding-left: 0; } }
  .section-three .job-card {
    display: flex;
    align-items: center; }
    .section-three .job-card img {
      max-width: 250px; }
      @media (max-width: 600px) {
        .section-three .job-card img {
          display: none; } }
  .section-three .sticky {
    position: sticky;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300px; }
    .section-three .sticky img {
      max-width: 150px; }

.section-four {
  min-height: 100vh;
  background: white;
  padding: 75px 25px 25px 25px;
  z-index: 99; }
  .section-four .portfolio-item {
    min-height: 350px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5); }
    .section-four .portfolio-item .top {
      min-height: 350px;
      display: flex;
      justify-content: center; }
      .section-four .portfolio-item .top h4 {
        margin-top: 25px;
        color: white;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        z-index: 99; }
    .section-four .portfolio-item .btm {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      transition: all .5s;
      position: absolute;
      bottom: -100%;
      height: 100%;
      min-height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .section-four .portfolio-item:hover .btm {
      bottom: 0%; }

.section-five {
  background: #f2f2f2;
  min-height: 100vh;
  z-index: 3;
  position: relative;
  overflow: hidden; }
  .section-five .col-md-4 {
    z-index: 99; }
  .section-five .bg-svg {
    position: absolute;
    width: 65%;
    top: 0;
    left: -10%;
    opacity: 0.15; }
    @media (max-width: 600px) {
      .section-five .bg-svg {
        width: 165%;
        top: 25%;
        left: 5%; } }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.project-banner {
  min-height: 75vh;
  background-size: cover;
  background-attachment: fixed; }
