.pad {
  padding: 25px; }

.custom-row {
  max-width: 1200px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive; }

body p {
  font-family: 'Roboto', sans-serif; }

.btn {
  text-decoration: none;
  font-family: 'Raleway', sans-serif; }

.btn-1 {
  background: black;
  color: white;
  border: solid 2px black;
  transition: all .5s; }
  .btn-1:hover {
    border: solid 2px black;
    background: white;
    color: black; }

.btn-2 {
  background: #7aa5bf;
  color: white;
  border: solid 2px #7aa5bf;
  transition: all .5s; }
  .btn-2:hover {
    border: solid 2px #7aa5bf;
    background: white;
    color: #7aa5bf; }

.btn-3 {
  background: #6093BF;
  color: white;
  border: solid 2px #7aa5bf;
  transition: all .5s; }
  .btn-3:hover {
    border: solid 2px #6093BF;
    background: white;
    color: #6093BF; }

footer {
  min-height: 100vh;
  background-color: black; }

nav {
  z-index: 9999;
  padding: 0 !important;
  position: fixed !important;
  top: -100%;
  width: 100vw;
  transition: all .5s;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive; }
  nav .navbar-brand {
    display: flex;
    align-items: center; }
  nav img {
    padding: 5px; }

.fixed {
  top: 0% !important; }

h1 {
  color: black; }

.banner-full {
  min-height: 100vh; }

.scroll-banner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1; }

.scroll-content {
  position: absolute;
  z-index: 99;
  width: 100vw; }

.banner-overlay {
  height: 100vh;
  width: 100%;
  background: linear-gradient(270deg, #6093BF, #72CEF2, #7aa5bf, #CEE8F2, #f2f2f2);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

.banner-home {
  background: url("../../assets/images/bg-mtns.png");
  background-size: cover;
  background-attachment: fixed; }

.banner-logo {
  min-width: 250px; }

.section-one {
  background: black;
  padding: 75px 25px 25px 25px;
  color: white;
  margin-top: 100vh;
  min-height: 100vh;
  z-index: 99; }
  .section-one h1 {
    color: white; }
  .section-one .buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .section-one .buttons .btn {
      min-width: 250px; }
  .section-one .headshot {
    position: relative; }
    .section-one .headshot .border {
      width: 90%;
      height: 100%;
      position: absolute;
      border: 2px solid white !important;
      top: -30px;
      right: -10px;
      z-index: 10; }
    .section-one .headshot img {
      display: block;
      margin: 0 auto; }

.section-two {
  background-color: #f2f2f2;
  min-height: 100vh;
  z-index: 99; }

.section-three {
  padding-left: 0;
  margin-left: 0;
  z-index: 99; }
  .section-three .col-md-8 {
    background: white;
    padding-left: 50px; }
  .section-three .job-card {
    display: flex;
    align-items: center; }
    .section-three .job-card img {
      max-width: 250px; }
  .section-three .sticky {
    position: sticky;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300px; }
    .section-three .sticky img {
      max-width: 150px; }

.section-four {
  min-height: 100vh;
  background: white;
  padding: 75px 25px 25px 25px;
  z-index: 99; }
  .section-four .portfolio-item {
    min-height: 350px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5); }
    .section-four .portfolio-item .top {
      min-height: 350px;
      display: flex;
      justify-content: center; }
      .section-four .portfolio-item .top h4 {
        margin-top: 25px;
        color: white;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        z-index: 99; }
    .section-four .portfolio-item .btm {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      transition: all .5s;
      position: absolute;
      bottom: -100%;
      height: 100%;
      min-height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .section-four .portfolio-item:hover .btm {
      bottom: 0%; }

.section-five {
  background: #f2f2f2;
  min-height: 100vh;
  z-index: 3; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
