@keyframes draw-down-arrow {
    from {
        stroke-dashoffset: 334;
    }
    to {
        stroke-dashoffset: 0;
    }
}

path.draw-arrow {
    stroke-dashoffset: -334;
    stroke-dasharray: 334;
    animation-name: draw-down-arrow;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes draw-down-circle {
    from {
        stroke-dashoffset: 122;
    }
    to {
        stroke-dashoffset: 0;
    }
}

circle.draw-circle {
    stroke-dashoffset: -122;
    stroke-dasharray: 122;
    animation: draw-down-circle .75s 2s;
    //animation-name: draw-down-circle;
    //animation-duration: .75s;
    //animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes draw-down-rect {
    from {
        stroke-dashoffset: 829;
    }
    to {
        stroke-dashoffset: 0;
    }
}

rect.draw-rect {
    stroke-dashoffset: -829;
    stroke-dasharray: 829;
    animation-name: draw-down-rect;
    animation-delay: 2s;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes hover-up-down {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-45px);
    }
    100% {
        transform: translatey(0px);
    }
}

.arrow-conatiner {
    transform: translatey(0px);
	animation: hover-up-down 3s 4s ease-in-out infinite;
}

@keyframes rotate {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

#circle {
    animation-timing-function: linear;
    transform-origin: center;
    animation: rotate 120s infinite;
}