// add variables here

.pad {
    padding: 25px;
}

.custom-row {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

body p, body span, body ul {
    font-family: 'Roboto', sans-serif;
}