h1 {
    color: black;
}

.banner-full {
    min-height: 100vh;
}

.scroll-banner {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.scroll-content {
    position: absolute;
    z-index: 99;
    width: 100vw;
}

.banner-overlay {
    height: 100vh;
    width: 100%;
    background: linear-gradient(270deg, #6093BF, #72CEF2, #7aa5bf, #CEE8F2, #f2f2f2);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.banner-home {
    background: url('../../assets/images/bg-mtns.png');
    background-size: cover;
    background-attachment: fixed;
}

.banner-logo {
    min-width: 250px;
}

.section-one {
    background: black;
    padding: 75px 25px 25px 25px;
    color: white;
    margin-top: 100vh;
    min-height: 100vh;
    z-index: 99;
    h1 {
        color: white;
    }

    .headshot {
        position: relative;
        .border {
            width: 90%;
            height: 100%;
            position: absolute;
            border: 2px solid white !important;
            top: -30px;
            right: -10px;
            z-index: 10;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }

}

.section-two {
    background-color: #f2f2f2;
    min-height: 100vh;
    z-index: 99;
}

.section-three {
    padding-left: 0;
    margin-left: 0;
    z-index: 99;
    .col-md-8 {
        background: white;
        padding-left: 50px;
    }
    .job-card {
        display: flex;
        align-items: center;
        img {
            max-width: 250px;
        }
    }
    .sticky {
        position: sticky;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 300px;
        img {
            max-width: 150px;
        }
    }
}

.section-four {
    min-height: 100vh;
    background: white;
    padding: 75px 25px 25px 25px;
    z-index: 99;
    .portfolio-item {
        min-height: 350px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
        .top {
            min-height: 350px;
            display: flex;
            justify-content: center;
            h4 {
                margin-top: 25px;
                color: white;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
                z-index: 99;
            }
        }
        .btm {
            background: rgba(0,0,0,0.5);
            color: white;
            transition: all .5s;
            position: absolute;
            bottom: -100%;
            height: 100%;
            min-height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &:hover .btm {
            bottom: 0%;
            //transform: translateY(100%);
        }
    }
}

.section-five {
    background: #f2f2f2;
    min-height: 100vh;
    z-index: 3;
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}