

.projects {
    .projects-svg {
        width: 60%;
        position: absolute;
        left: -25%;
        bottom: -25%;
        opacity: .6;
    }
}

.scroll-content-projects {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    position: absolute;
    top: 0;
    z-index: 99;
    width: 100vw;
    margin-top: 100vh;
    img {
        width: 100%;
        margin: 15px;
    }

    .intro {
        background: white;
    }

    .logo img, .colors img, .fonts img {
        max-width: 300px;
        display: block;
        margin: 10px auto;
    }

    .assets {
        h5 {
            text-align: center;
        }
        background: white;
        .fonts {
            .font-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @include respond(phone) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    .preview {
        .site-preview {
            img {
                margin: 0 auto;
                display: block;
            }
        }
        .solid-bg {
            background-color: white;
            padding-right: 0;
            .sticky {
                position: sticky;
                top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                min-height: 300px;
                img {
                    max-width: 150px;
                }
            }
        }
    }
    .responsive {
        background-color: white;
        img {
            width: 100%;
        }
        .col-8 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}